# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc

# Environments
.env
.venv
env/
venv/

# PyCharm
.idea/

# Application data
# Ignore generated database files from ChromaDB
/data/chroma_db/

# Ignore generated audio files from the TTS service
/data/speech.mp3
/data/recording.mp3

prompt_examples/